// storage.rules
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write;
      allow list; // Add this line to allow listing files
      allow get, write: if request.auth != null || request.origin == "<YOUR_LOCALHOST_ORIGIN>";
    }
  }
}
